<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
/>
  <title>Document</title>
</head>
<body><div class="container">
  <div class="jumbotron bg-dark text-white">
    <h1 class="display-2">Thank You for staying Here..</h1><br>
    <h1 class="text-center">{{ session['name'] }} </h1>
  </div>
</div>
</body>
</html>